{% extends 'main/layout.html' %}
{% load static %}
{% block content %}

	

	
	<div class="container">
		<p class="center-align">
		  <div class="card-panel white lighten-3">
				<h3 id= "Register">Wholesaler/Admin Login</h3>
				{% if form.errors %}
				<p>There's something wrong with what you entered!</p>
				{% endif %}
				
				{% if next %}
				<p>Hey, you can't access that page</p>
				{% endif %}
			<form id= "loginpage" method = "post" action="{% url 'login' %}">
				{% csrf_token %}
			
				<p> Username: {{ form.username }} </p>
				<p> Password: {{ form.password }} </p>
			
				<input class= "btn" type= "submit" = value="Login">
				<input type= "hidden" name= "next" value= "{{ next }}">		
			</form>
			<h3 id= "Register"><a href= "/main/register">Register</a> as a Wholesaler</h3>
		  </div>
		</p>	
	</div>	  

			
	
	
	
	

{% endblock %}