{% extends 'main/layout.html' %}
{% load static %}
{% block content %}


<div class="container">

{% if user.is_authenticated %}
<h3>Your order has been confirmed, {{user.username}}!</h3>

{% else %}

<h3>Your order has been confirmed!</h3>
{%endif%}

<h5>We have sent a confirmation email to your registered email with us! Please contact our customer service hotline(<a href="https://wa.me/6569108515">+65 87171300</a>) or email to <a href="mailto:info@wahyubrand.com">info@wahyubrand.com</a> if you have any issues with your order!</h5>

<h5>Thank you for your kind support, our staff will contact you on the day of delivery before delivery!</h5>

<h5>Thank you!</h5>

{% if user.is_authenticated %}

<a href="{% url 'supplier' %}"><button type="submit"  class="btn waves-effect waves-light brown darken-1">Wholesaler Portal
        <i class="material-icons right">airport_shuttle</i>
    </button>     </a>
{%endif%}
<a href="{% url 'order'%}">
<button type="submit"  class="btn waves-effect waves-light brown darken-1">Order Again
        <i class="material-icons right">airport_shuttle</i>
    </button>     </a>
</div>
<br>
{% endblock %}