
 {% extends 'main/layout.html' %}
 {% load staticfiles %}
 {% block content %}


  


 <div class="parallax-container valign-wrapper">
        
          <div class="container">
            <div class="row center">
              <h1  style="font-size:30px;"class="header col s12 light">Wahyu Brand Order Form</h1>
              {% if user.is_authenticated %}
              <p>(Max. 10 line items per order) <a href="{% url 'logout' %}">Logout</a></p>
              {% else %}
              <p>For Suppliers, please login here: <a href="{% url 'login' %}" class=""> Login </a></p>
              {%endif%}
            </div>
          </div>
        
        <div class="parallax"><img src="{% static "img/tanushree-rao-1172284-unsplash.jpg" %}" height="900px" alt="Unsplashed background img 3"></div>
      </div>
      <form action="/main/order/" method="post">
      {% csrf_token %}
      <div class="container">
          <div class="section no-pad-bot">
        
            <ul class="collapsible expandable">
                <li class="active">
                  <div class="collapsible-header"><i class="material-icons">face</i>Contact<div style="margin-left:auto;margin-right:0;"><span id="name_input"></span></div></div>
                  <div class="collapsible-body">
                                
                                  <div class="row">
                                      {% if user.is_authenticated %}
                                    <div class="input-field col s4">
                                        
                                      <input name="name" id="name" type="text" class="validate" onchange="updateName()" 
                                      {%for dist in dist%}
                                      {% if dist.username.username == user.username %}
                                      value="{{dist.name}}"
                                      {% endif %}
                                      {%endfor%}
                                      >
                                      <label for="name">Full Name</label>
                                    </div>
                                    <div class="input-field col s4">
                                      <input name="contactno" id="contactno" type="text" class="validate"
                                      {%for dist in dist%}
                                      {% if dist.username.username == user.username %}
                                      value="{{dist.bill2contact_number}}"
                                      {% endif %}
                                      {%endfor%}
                                      >
                                      <label for="contactno">Contact No.</label>
                                    </div>
                                    <div class="input-field col s4">
                                            <input name="email" id="email" type="email" class="validate"
                                            {%for dist in dist%}
                                            {% if dist.username.username == user.username %}
                                            value="{{dist.email}}"
                                            {% endif %}
                                            {%endfor%}
                                            >
                                            <label for="email">Email</label>
                                          </div>
                                    {%else%}
                                    <div class="input-field col s4">
                                        
                                        <input name="name" id="name" type="text" class="validate" onchange="updateName()">
                                        <label for="name">Full Name</label>
                                      </div>
                                      <div class="input-field col s4">
                                        <input name="contactno" id="contactno" type="text" class="validate">
                                        <label for="contactno">Contact No.</label>
                                      </div>
                                      <div class="input-field col s4">
                                              <input name="email" id="email" type="email" class="validate">
                                              <label for="email">Email</label>
                                            </div>
                                    {%endif%}

                                  </div>
                            
                                                    
                  </div>
                </li>
                <li class="active">
                  <div class="collapsible-header"><i class="material-icons">whatshot</i>Order ($10 Delivery Charge for orders below $200) <div style="margin-left:auto;margin-right:0;">Grand Total: <span id="grand_total">$0.00</span></div></div>
                  <div class="collapsible-body">
                      <div style="max-height:400px;overflow:auto;">
                      <table class="striped highlight">
                          <thead>
                            <tr>
                                <th>S/N</th>
                                <th style="min-width:200px">Item Name/Size</th>
                                <th>Quantity</th>
                                <th>Unit Price</th>
                                <th>Total Price</th>
                            </tr>
                          </thead>
                  
                          <tbody>
                          {% for i in total_lineItems %}
                            <tr>
                              <td>{{i}}</td>
                              <td class="input-field col s12">
                                <div>
                                    <select name="option{{i}}" id="option{{i}}" class="browser-default" onchange="f_option{{i}}();">
                                        <option value="0" selected>Choose your option</option>
                                        
                                          

                                        
                                          
                                        
                                      </select>
                                </div>
                              </td>
                              <td><input type="number" name="qty{{i}}" id="quantity{{i}}" placeholder="0" min="0" onchange="f_option{{i}}();" value="0"></td>
                              <td id="unitprice{{i}}">$0.00</td>
                              <td id="totalprice{{i}}">$0.00</td>
                            </tr>
                          {% endfor %}
                          </tbody>
                        </table>
                        </div>
                  </div>  
                </li>
                <li class="active">
                  <div class="collapsible-header"><i class="material-icons">place</i>Delivery<div style="margin-left:auto;margin-right:0;"><span id="address_input"></span></div></div>
                  <div class="collapsible-body">
                    
                        {% if user.is_authenticated %}
                      <div class="row">
                        <div class="input-field col s12">
                          <input id="remarks" type="text" class="validate" />
                          <label for="remarks">Order Remarks</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                          <input name="address" id="address" type="text" onchange="updateAddress()" 
                          {%for dist in dist%}
                          {% if dist.username.username == user.username %}
                          value="{{dist.ship2address.address}}"
                          {% endif %}
                          {%endfor%}
                          />
                          <label for="address">Address</label>  
                        </div>
                      </div>
                      <div class="row">
                            <div class="input-field col s6">
                            <h5>Preffered Delivery Timing</h5>
                            <p>
                            <label>
                                <input name="prefferedtime" id ="9amto12pm" type="checkbox" value="9amto12pm"/>
                                <span>9 am - 12 pm</span>
                            </label>    
                            </p>
                            <p>
                                <label>
                                    <input name="prefferedtime" id ="1pmto6pm" type="checkbox" value="1pmto6pm"/>
                                    <span>1 pm - 6 pm</span>
                                </label>    
                            </p>
                            <p>
                                <label>
                                    <input name="prefferedtime" id ="6pmto9pm" type="checkbox" value="6pmto9pm"/>
                                    <span>6 pm - 9pm</span>
                                </label>    
                            </p>
                            </div>
                            <div class="col s6">
                              <h5>Preffered Delivery Date</h5>
                              <input name="deliverydate" id="deliverydate" type="text" class="datepicker">
                              <label for="deliverydate">Input Date Here</label>  
                            </div>
                      </div>  
                      {%else%} 
                      <div class="row">
                          <div class="input-field col s12">
                            <input id="remarks" type="text" class="validate" />
                            <label for="remarks">Order Remarks</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="input-field col s12">
                            <input name="address" id="address" type="text" onchange="updateAddress()" />
                            <label for="address">Address</label>  
                          </div>
                        </div>
                        <div class="row">
                              <div class="input-field col s6">
                              <h5>Preffered Delivery Timing</h5>
                              <p>
                              <label>
                                  <input name="prefferedtime" id ="9amto12pm" type="checkbox" value="9amto12pm"/>
                                  <span>9 am - 12 pm</span>
                              </label>    
                              </p>
                              <p>
                                  <label>
                                      <input name="prefferedtime" id ="1pmto6pm" type="checkbox" value="1pmto6pm"/>
                                      <span>1 pm - 6 pm</span>
                                  </label>    
                              </p>
                              <p>
                                  <label>
                                      <input name="prefferedtime" id ="6pmto9pm" type="checkbox" value="6pmto9pm"/>
                                      <span>6 pm - 9pm</span>
                                  </label>    
                              </p>
                              </div>
                              <div class="col s6">
                                <h5>Preffered Delivery Date</h5>
                                <input name="deliverydate" id="deliverydate" type="text" class="datepicker">
                                <label for="deliverydate">Input Date Here</label>  
                              </div>
                        </div> 
                      {%endif%}
                    
                  </div>
                </li>
              </ul>
          </div>
      </div>

      <div class="container">
        <div class="section center">
            <button  class="btn waves-effect waves-light brown darken-1" type="submit" name="action">Order Now
                <i class="material-icons right">airport_shuttle</i>
            </button>          
            <button  class="btn waves-effect waves-light brown darken-1" type="submit" name="action" onclick="whatsapp()">Order By Whatsapp
                <i class="material-icons right">perm_phone_msg</i>
            </button>  
            <button style="margin-top: 1px;" class="btn waves-effect waves-light brown darken-1" type="submit" name="action" onclick="email()">Order By Email
                <i class="material-icons right">language</i>
            </button>          
        </div>
      </div>
    </form>
 
      <a class="btn-floating btn-large indigo lighten-2" onclick="topFunction()" id="myBtn" title="Go to top"><i class="material-icons right">vertical_align_top</i></a>
      
    
      <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="js/materialize.js"></script>
      <script src="js/init.js"></script>
      <script>
      $(document).ready(function(){

            
            $('#google').change(function(){
                if(this.checked)
                    $('#searchterm').fadeIn('fast');
                else
                    $('#searchterm').fadeOut('fast');
            });
            $('#agent').change(function(){
                if(this.checked)
                    $('#agentname').fadeIn('fast');
                else
                    $('#agentname').fadeOut('fast');
            });
            $('#others').change(function(){
                if(this.checked)
                    $('#othersdesc').fadeIn('fast');
                else
                    $('#othersdesc').fadeOut('fast');
            });

            var elem = document.querySelector('.collapsible.expandable');
            var instance = M.Collapsible.init(elem, {
                accordion: false
            });
            {% for product in products %}                                                        
            $('.browser-default').append('<option value="{{product.pk}}">{{product.category.name}} | {{product.name}} {{product.unitnetweight}}g/${{product.retailprice|floatformat:2}}</option>');
            {% endfor %}
        });
      </script>
      <script>

            

            // When the user scrolls down 20px from the top of the document, show the button
            window.onscroll = function() {scrollFunction()};
            
            function scrollFunction() {
              if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("myBtn").style.visibility = "visible";
                document.getElementById("myBtn").style.opacity = "1";
              } else {
                document.getElementById("myBtn").style.visibility = "hidden";
                document.getElementById("myBtn").style.opacity = "0";
              }
            }
            
            // When the user clicks on the button, scroll to the top of the document
            function topFunction() {
              document.body.scrollTop = 0;
              document.documentElement.scrollTop = 0;
            }
            </script>
            <script>
                {% for i in total_lineItems %}

                function f_option{{i}}() {
                  var e = document.getElementById("option{{i}}");
                  var x = e.options[e.selectedIndex].text;
                  var unitprice= x.split("/").pop();
                  document.getElementById("unitprice{{i}}").innerHTML = unitprice;
                  var unitprice_noS = x.split("$").pop();
                  var unitprice_int= parseFloat(unitprice_noS);
                  var y = document.getElementById("quantity{{i}}").value;
                  var totalprice = unitprice_int * y;
                  document.getElementById("totalprice{{i}}").innerHTML = "$" + totalprice.toFixed(2);
                  updateGrandPrice();

                }

                {% endfor %}

                function updateGrandPrice() {
                  var gt = 0;
                  {% for i in total_lineItems %}
                  var tp{{i}} = document.getElementById("totalprice{{i}}").innerHTML;
                  var tp{{i}} = parseFloat(tp{{i}}.split("$").pop());
                  gt = gt + tp{{i}};     
                  {% endfor %}
                  /* var gt = tp1 + tp2 + tp3 + tp4 + tp5 + tp6 + tp7 + tp8 + tp9 + tp10; */
                  var x = document.getElementById("grand_total");
                  gt = gt.toFixed(2);
                  x.innerHTML = (gt<200) ? "$" + gt + " + $10.00" : "$" + gt;
                  }

                function whatsapp() {
                  var name = document.getElementById('name').value;
                  var contactno = document.getElementById('contactno').value;
                  var option1 = document.getElementById('option1').value;
                  var option2 = document.getElementById('option2').value;
                  var option3 = document.getElementById('option3').value;
                  var option4 = document.getElementById('option4').value;
                  var option5 = document.getElementById('option5').value;
                  var option6 = document.getElementById('option6').value;
                  var option7 = document.getElementById('option7').value;
                  var option8 = document.getElementById('option8').value;

                  var quantity1 = document.getElementById('quantity1').value;  
                  var quantity2 = document.getElementById('quantity2').value;
                  var quantity3 = document.getElementById('quantity3').value;
                  var quantity4 = document.getElementById('quantity4').value;
                  var quantity5 = document.getElementById('quantity5').value;
                  var quantity6 = document.getElementById('quantity6').value;
                  var quantity7 = document.getElementById('quantity7').value;
                  var quantity8 = document.getElementById('quantity8').value;

                  var order;
                  if (option1 != "nil") {
                    order = option1 + "%0aQty:%20" + quantity1 + "%0a";
                    if (option2 != "nil") {
                      order = order + option2 + "%0aQty:%20" + quantity2 + "%0a";
                      if (option3 != "nil") {
                        order = order + option3 + "%0aQty:%20" + quantity3 + "%0a";
                        if (option4 != "nil") {
                          order = order + option4 + "%0aQty:%20" + quantity4 + "%0a";
                          if (option5 != "nil") {
                            order = order + option5 + "%0aQty:%20" + quantity5 + "%0a";
                            if (option6 != "nil") {
                              order = order + option6 + "%0a%20Qty:%20" + quantity6 + "%0a";
                              if (option7 != "nil") {
                                order = order + option7 + "%0aQty:%20" + quantity7 + "%0a";
                                if (option8 != "nil") {
                                  order = order + option8 + "%0aQty:%20" + quantity8 + "%0a";
                                  
                                    }
                                  }  
                                }
                              }
                            }  
                          }
                        }
                      }
                  var dc = document.getElementById("grand_total").innerHTML;      
                  dc = dc.includes("+ $10.00");
                  order = (dc=true) ? order + "*Delivery Charge $10*" + "%0a" : order;
                  
                  var remarks = document.getElementById('remarks').value;
                  var address = document.getElementById('address').value;
                  var morning = (document.getElementById('9amto12pm')).checked == true ? "(9am-12pm)" : "";
                  var afternoon = (document.getElementById('1pmto6pm')).checked == true ? "(1pm-6pm)" : "";
                  var evening = (document.getElementById('6pmto9pm')).checked == true ? "(6pm-9pm)" : "";
                  
                  var timing = morning + afternoon + evening;
                  var deliverydate = document.getElementById('deliverydate').value;

                  var email = document.getElementById("email").value;
                  var firsttimer = document.getElementById("firsttimer").checked ? "First Time Customer" : "Regular Customer";
                  var google = document.getElementById("google").checked ? "(Google Search:" + document.getElementById("searchterm").value + ")" : "";
                  var agent = document.getElementById("agent").checked ? "(Agent:" + document.getElementById("agentname").value + ")" : "";    
                  var fb = document.getElementById("facebook").checked ? "(Facebook)" : "";
                  var insta = document.getElementById("instagram").checked ? "(Instagram)" : "";
                  var wom = document.getElementById("wordofmouth").checked ? "(Word of Mouth)" : "";
                  var ads = document.getElementById("ads").checked ? "(Advertising)" : "";
                  var other = document.getElementById("others").checked ? "(Others:" + document.getElementById("othersdesc").value + ")" : "";    

                  var referral = google + agent + fb + insta + wom + ads + other ;  

                  var message = "*Website Order*%0a" + name + "%0a" + contactno + "%0a"+ address +  "%0a_"+  deliverydate + "_%0a_" + timing + "_%0a%0a"+ order +  "%0aRemarks:%0a*" + remarks + "*%0a" + email + "%0a" + firsttimer + "%0a" + referral ;
                  var link = "https://api.whatsapp.com/send?phone=6581831445&text=" + message ;
                  window.location.assign(link);
                }

                function email() {
                  var name = document.getElementById('name').value;
                  var contactno = document.getElementById('contactno').value;
                  var option1 = document.getElementById('option1').value;
                  var option2 = document.getElementById('option2').value;
                  var option3 = document.getElementById('option3').value;
                  var option4 = document.getElementById('option4').value;
                  var option5 = document.getElementById('option5').value;
                  var option6 = document.getElementById('option6').value;
                  var option7 = document.getElementById('option7').value;
                  var option8 = document.getElementById('option8').value;

                  var quantity1 = document.getElementById('quantity1').value;  
                  var quantity2 = document.getElementById('quantity2').value;
                  var quantity3 = document.getElementById('quantity3').value;
                  var quantity4 = document.getElementById('quantity4').value;
                  var quantity5 = document.getElementById('quantity5').value;
                  var quantity6 = document.getElementById('quantity6').value;
                  var quantity7 = document.getElementById('quantity7').value;
                  var quantity8 = document.getElementById('quantity8').value;

                  var order;
                  if (option1 != "nil") {
                    order = option1 + "%0aQty:%20" + quantity1 + "%0a";
                    if (option2 != "nil") {
                      order = order + option2 + "%0aQty:%20" + quantity2 + "%0a";
                      if (option3 != "nil") {
                        order = order + option3 + "%0aQty:%20" + quantity3 + "%0a";
                        if (option4 != "nil") {
                          order = order + option4 + "%0aQty:%20" + quantity4 + "%0a";
                          if (option5 != "nil") {
                            order = order + option5 + "%0aQty:%20" + quantity5 + "%0a";
                            if (option6 != "nil") {
                              order = order + option6 + "%0a%20Qty:%20" + quantity6 + "%0a";
                              if (option7 != "nil") {
                                order = order + option7 + "%0aQty:%20" + quantity7 + "%0a";
                                if (option8 != "nil") {
                                  order = order + option8 + "%0aQty:%20" + quantity8 + "%0a";
                                  
                                    }
                                  }  
                                }
                              }
                            }  
                          }
                        }
                      }
                  var dc = document.getElementById("grand_total").innerHTML;      
                  dc = dc.includes("+ $10.00");
                  order = (dc==true) ? order + "*Delivery Charge $10*" + "%0a" : order;
                  
                  var remarks = document.getElementById('remarks').value;
                  var address = document.getElementById('address').value;
                  var morning = (document.getElementById('9amto12pm')).checked == true ? "(9am-12pm)" : "";
                  var afternoon = (document.getElementById('1pmto6pm')).checked == true ? "(1pm-6pm)" : "";
                  var evening = (document.getElementById('6pmto9pm')).checked == true ? "(6pm-9pm)" : "";
                  
                  var timing = morning + afternoon + evening;
                  var deliverydate = document.getElementById('deliverydate').value;
                  
                  var email = document.getElementById("email").value;
                  var firsttimer = document.getElementById("firsttimer").checked ? "First Time Customer" : "Regular Customer";
                  var google = document.getElementById("google").checked ? "(Google Search:" + document.getElementById("searchterm").value + ")" : "";
                  var agent = document.getElementById("agent").checked ? "(Agent:" + document.getElementById("agentname").value + ")" : "";    
                  var fb = document.getElementById("facebook").checked ? "(Facebook)" : "";
                  var insta = document.getElementById("instagram").checked ? "(Instagram)" : "";
                  var wom = document.getElementById("wordofmouth").checked ? "(Word of Mouth)" : "";
                  var ads = document.getElementById("ads").checked ? "(Advertising)" : "";
                  var other = document.getElementById("others").checked ? "(Others:" + document.getElementById("othersdesc").value + ")" : "";    

                  var referral = google + agent + fb + insta + wom + ads + other ;  

                  var message = "*Website Order*%0a" + name + "%0a" + contactno + "%0a"+ address +  "%0a_"+  deliverydate + "_%0a_" + timing + "_%0a%0a"+ order +  "%0aRemarks:%0a*" + remarks + "*%0a" + email + "%0a" + firsttimer + "%0a" + referral ;
                  var link = "mailto:info@wahyubrand.com?subject=WebsiteOrder&body=" + message ;
                  window.location.assign(link);
                }           
                
                function updateName() {
                  var name = document.getElementById("name").value;
                  document.getElementById("name_input").innerHTML = name;
                }

                function updateAddress() {
                  var address = document.getElementById("address").value;
                  document.getElementById("address_input").innerHTML = address;
                }

                             
            </script>
          
{% endblock %}