<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Wahyu Brand: Sitemap</title>
  <meta name=”description” content="Wahyu Brand Website Sitemap">
  <meta name="format-detection" content="telephone=no">

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Raleway&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

  <link rel="apple-touch-icon" sizes="57x57" href="favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
  <link rel="manifest" href="favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141216963-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-141216963-1');
  </script>
</head>
<body>

        <div class="navbar-fixed">
                <nav class="green lighten-5" role="navigation">
                  <div class="nav-wrapper container">
                      <a id="logo-container" href="index.html" class="brand-logo"><img style="margin-top: 5px;margin-right: 5px;" src="img/logo-transparent-100px.png" width="50x" height="50px" alt=""></a>
                    <ul class="right hide-on-med-and-down">
                      <li><a href="index.html#aboutus">About Us</a></li>
                      <li><a href="index.html#sambal">Sambal</a></li>
                      <li><a href="index.html#paste">Paste</a></li>
                      <li><a href="index.html#rempeyek">Rempeyek</a></li>
                      <li><a href="#footer">Contact Us</a></li>
                      <li><a href="blog.html">Blog</a></li>
                      <li class="teal lighten-4"><a href="order.html">Buy Now</a></li>
                    </ul>
              
                    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                  </div>
                </nav>
              </div>

              <ul id="nav-mobile" class="sidenav">
                    <li><a href="index.html">Homepage</a></li>
                    <li><a href="order.html#aboutus">About Us</a></li>
                    <li><a href="order.html#sambal">Sambal</a></li>
                    <li><a href="order.html#paste">Paste</a></li>
                    <li><a href="order.html#rempeyek">Rempeyek</a></li>
                    <li><a href="#footer">Contact Us</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="order.html">Buy Now</a></li>
                </ul>
        

              <div class="container">
                  <ul class="collection with-header">
                      <li class="collection-header"><h4>Sitemap</h4></li>
                      <li class="collection-item"><div>Homepage<a href="index.html" class="secondary-content"><i class="material-icons">send</i></a></div></li>
                      <li class="collection-item"><div>- Online Order Form<a href="order.html" class="secondary-content"><i class="material-icons">send</i></a></div></li>
                      <li class="collection-item"><div>- Blog<a href="blog.html" class="secondary-content"><i class="material-icons">send</i></a></div></li>
                      <li class="collection-item"><div>- Sitemap<a href="sitemap.html" class="secondary-content"><i class="material-icons">send</i></a></div></li>
                    </ul>
              </div>

              <a class="btn-floating btn-large indigo lighten-2" onclick="topFunction()" id="myBtn" title="Go to top"><i class="material-icons right">vertical_align_top</i></a>

<footer class="page-footer deep-orange darken-3" id="footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Wahyu Delicacies Rempeyek Trading</h5>
          <p class="grey-text text-lighten-4">52 International Road</br>#03-06 Par Investments Building</br>Singapore 619626</br><i class="tiny material-icons">work</i>UEN No.: 53127489J</p>
          
        </div>
        <div class="col l4 s12">
          <h5 class="white-text">Contact Us</h5>
          <ul>
            <li><i class="tiny material-icons">phone_in_talk</i>Sales: <a class="white-text" href="tel:+6581831445"><b>+65 8183 1445</b></a></li>
            <li><i class="tiny material-icons">face</i>Customer Service: <a class="white-text" href="tel:+6569108515"><b>+65 6910 8515</b></a></li>
            <li><i class="tiny material-icons">email</i>Email: <a class="white-text" href="mailto:info@wahyubrand.com"><b>info@wahyubrand.com</b></a></li>
            
          </ul>
        </div>
        <div class="col l2 s12">
          <h5 class="white-text">Connect</h5>
          
            <a class="white-text" style="font-size: 2em; color: Tomato;" href="https://www.facebook.com/WahyuDelicaciesRempeyekTrading"><i class="fab fa-facebook"></i></a>
            <a class="white-text" style="font-size: 2em; color: Tomato;margin-left: 2px;" href="https://www.instagram.com/info.wahyubrand"><i class="fab fa-instagram"></i></a>
            <a class="white-text" style="font-size: 2em; color: Tomato;margin-left: 2px;" href="https://www.youtube.com/channel/UC5U5yezdaGtgiVt2rlSJAHw/featured"><i class="fab fa-youtube"></i></a>
            <a class="white-text" style="font-size: 2em; color: Tomato;margin-left: 2px;" href="https://wa.me/6581831445"><i class="fab fa-whatsapp"></i></a>
          
        </div>
      </div>
    </div>
    <div class="footer-copyright brown darken-1">
      <div class="container">
      <div style="float:left;">Made by <a class="brown-text text-lighten-3" href="">MNoobs.com</a></div><div style="float:right;"><a class="brown-text text-lighten-3" href="sitemap.html">Sitemap</a></div>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  <script>
      var close = document.getElementsByClassName("closebtn");
      var i;
      
      for (i = 0; i < close.length; i++) {
        close[i].onclick = function(){
          var div = this.parentElement;
          div.style.opacity = "0.05";
          setTimeout(function(){ div.style.display = "none"; }, 300);
        }
      }
  </script>
  <script>
      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function() {scrollFunction()};
      
      function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          document.getElementById("myBtn").style.visibility = "visible";
          document.getElementById("myBtn").style.opacity = "1";
        } else {
          document.getElementById("myBtn").style.visibility = "hidden";
          document.getElementById("myBtn").style.opacity = "0";
        }
      }
      
      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      }
      </script>

  </body>
</html>